<div class="add-btn">
  <img class="add-btn-container" src="../../assets/img/if_Plus_1891033.png"/>
</div>
<ul class="event">
  <li *ngFor="let event of events | sortBy: 'eventStatus'">
    <a class="event-container" (click)="onEventSelected(event)">
      <div class="name-container">
        <span [ngClass]="getStyle(event.eventStatus)" class="item">{{event.name}}</span>
      </div>
      <div class="summary-container">
        <span class="summary">SUMMARY:</span>
        <span class="amount">{{getExpensesSummary(event)}} {{getCurrency(event)}}</span>
      </div>
    </a>
  </li>
</ul>
