.event {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.event li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 2em;
  font-family: monospace;
  font-size: large;
  border-radius: 4px;
  text-align: left;
}

.event li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.event a:hover {
  color:#607D8B;
}

.event .item {
  display: inline-block;
  font-size: large;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  line-height: 1em;
  position: relative;
  left: 1px;
  top: -4px;
  height: 1.7em;
  text-align: center;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.active-item {
  background-color: #00bc4f;
}
.finished-item {
  background-color: #0071bc;
}
.closed-item {
  background-color: rgba(93,96,93,0.78)
}

.summary, .amount{
  color: rgba(46,49,46,0.78);
  font-size: medium;
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.name-container {
  display: inline-flex;
  min-width: calc(100% - 8em);
  max-width: calc(100% - 8em);
}

.summary-container {
  text-align: right;
  flex-direction: column;
  vertical-align: top;
  padding: 0 1em 1em 1em;
  display: inline-flex;
  flex-grow: 10000;
  flex-basis: 6em;
  overflow: hidden;
}

.event-container {
  display: flex;
}

.add-btn-container {
  width: 2em;
  margin-right: 0.3em;
}

.add-btn {
  display: table;
  position: relative;
  top: -2.3em;
}
