.login-row, .password-row {
  margin: 5px;
}

.login-row input, .password-row input{
  height: 2em;
  font-size: large;
  font-family: monospace;
}
.login-btn {
  border: none;
  border-radius: 5px;
  background-color: #0071bc;
  padding: 5px;
  margin: 5px;
  color: white;
  -webkit-appearance: none;
  height: 2em;
  font-family: monospace;
  font-size: large;
}
.login-btn:hover {
  background-color: #0082DE;
}
.login-btn:active {
  position:relative;
  top:1px;
}
.logo {
  align-self: center;
}
.login-container {
  position: relative;
  overflow: auto;
}

