<div class="add-btn">
  <img class="add-btn-container" src="../../assets/img/if_Plus_1891033.png"/>
  <img class="add-btn-container" src="../../assets/img/if_Settings_1891011.png"/>
</div>
<ul class="expense">
  <li *ngFor="let expense of expenses">
    <div class="expense-container">
      <div class="name-container">
        <span [ngClass]="getStyle(expense)" class="item">{{expense.name}}</span>
      </div>
      <div class="detail-container">
        <span class="user">{{getUserName(expense)}}</span>
        <span class="amount">{{expense.value}} {{getExpenseCurrency(expense)}}</span>
      </div>
    </div>
  </li>
</ul>

<div class="summary-container">
  <span class="summary">SUMMARY:</span>
  <span class="summary-amount">{{getExpensesSummary()}} {{getCurrency()}}</span>
</div>
